@page
@model Fresh_Farm_Market.Pages.Errors._411Model
@{
    ViewData["title"] = "Length Required";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">411</h1>
    <p style="font-size: 50px; ">Length Required</p>
    <p>The server refuses to accept the request without a defined Content-Length.</p>
    <p>Please ensure that your request includes a valid Content-Length header and try again. If the issue persists, contact the administrator or navigate back to <a href="https://localhost:7109/Login?ReturnUrl=%2F">Home</a></p>
</div>
