@page
@model Fresh_Farm_Market.Pages.Errors._412Model
@{
    ViewData["title"] = "Precondition Failed";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">412</h1>
    <p style="font-size: 50px; ">Precondition Failed</p>
    <p>The server does not meet one of the preconditions specified in the request.</p>
    <p>Please review your request and ensure that all specified preconditions are met. If the issue persists, contact the administrator or navigate back to <a href="https://www.nyp.edu.sg/">NYP Website</a></p>
</div>
