@page
@model Fresh_Farm_Market.Pages.Errors._502Model
@{
    ViewData["title"] = "Bad Gateway";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">502</h1>
    <p style="font-size: 50px; ">Bad Gateway</p>
    <p>Sorry, there is a temporary issue with the server's gateway, and your request couldn't be fulfilled.</p>
    <p>Please try again later or contact the administrator for assistance. You can also navigate back to <a href="https://www.nyp.edu.sg/">NYP Website</a></p>
</div>
